<h1 class="text-center">Welcome</h1>
<p class="text-center">You are currently {{logStatus}}</p>

<div class="col text-center">
    <a class="btn btn-primary" href="https://portfolio-glowackp.uc.r.appspot.com/login" role="button">Sign In</a>
    <a class="btn btn-primary" href="https://portfolio-glowackp.uc.r.appspot.com/logout" role="button">Log out</a>
</div>

<div class="col text-center">
    <p>{{username}}</p>
    <p>{{idToken}}</p>
</div>