<h1 class="text-center">User Info</h1>

<div class="col text-center">
    <a class="btn btn-primary" href="https://portfolio-glowackp.uc.r.appspot.com/logout" role="button">Log out</a>
</div>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">User ID (sub)</th>
                <th scope="col">JWT Token (idToken)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{sub}}</td>
                <td>{{idToken}}</td>
            </tr>
        </tbody>
    </table>
</div>